<!DOCTYPE html>
<html>

<head>
      <title>{{ if .Title }} {{ .Title }} {{else}}HTMX & Go{{end}}</title>
      <meta charset="utf-8" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1" />
      <meta name="description"
            content="{{ .Description }}" />

      <link rel="stylesheet"
            href="/static/css/style.css" />

      <!-- UIkit CSS -->
      <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />

      <!-- htmx JS -->
      <script src="https://unpkg.com/htmx.org@2.0.3"
              integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
              crossorigin="anonymous"></script>

      <!-- htmx extensions -->
      <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>

      <!-- UIkit JS -->
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>

      <!-- Rambda -->
      <script src="https://unpkg.com/rambda@9.4.0/dist/rambda.umd.js"></script>

      <!-- Custom JS -->
      <script src="/static/js/script.js"></script>
</head>

<body hx-ext="response-targets">
      {{ template "loading" }}
      {{ template "navbar" . }}

      <div class="uk-section">
            <div id="container"
                 class="uk-container uk-margin-medium uk-flex-1"
                 hx-trigger="load"
                 hx-get="/home"
                 htmx-indicator="#loading-global" />
      </div>
</body>

</html>