body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: 0;
}

#loading-global {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(255, 255, 255, 0.5);
}

#loading-global.htmx-indicator {
  z-index: -1;
}

.htmx-request.htmx-indicator {
  opacity: 1;
  z-index: 9000 !important;
}