<button class="uk-button uk-button-primary" hx-on:htmx:before-request="cleanErrors()" hx-get="/api/count"
  hx-vals="js:{sleep: getSleep()}" hx-trigger="click, load" hx-target="#count" hx-swap="textContent"
  hx-indicator="#loading-global">Get</button>

<button class="uk-button uk-button-secondary" hx-on:htmx:before-request="cleanErrors()"
  hx-on:htmx:after-request="updateSleep(event)" hx-post="/api/count" hx-trigger="click" hx-target="#count"
  hx-target-error="#error" hx-indicator="#loading-global">Increment</button>

<pre id="count" class="count"></pre>

<span id="error" class="uk-label uk-label-danger"></span>

<script>
  function getSleep() {
    return getQueryParam('sleep', 500);
  }

  function updateSleep(event) {
    const count = parseInt(JSON.parse(event.detail.xhr.response)?.Count);
    if (!count) {
      throw new Error('Invalid count');
    }

    setQueryParam('sleep', count * 100);
  }
</script>